.productDemo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: "VeranoSansExtraBold", sans-serif;
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .productToombler {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: "WebHelveticaNeueCyr", Arial, sans-serif;
        font-weight: 600;
        gap: 15px;
        list-style: none;
        padding: 4px 4px;
        margin: 0;

        background: #f4f4f6;
        border: 1px solid #f0f0f0;
        border-radius: 13px;

        li {
            display: flex;
            margin: 0px ;
            padding: 12px 16px;
            background: #fefefe;
            border: 1px solid #f0f0f0;
            border-radius: 13px;
            img{
                display: flex;
                margin: 0 5px 0 5px;
            }

            .taskIcon,
            .chatIcon,
            .crmIcon {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 4px;
                color: #fefefe;
                margin: 0 5px 0 5px;
            }

            .taskIcon {
                background: #327ff5;
            }

            .chatIcon {
                background: #a67fef;
                padding: 0.2rem;
                width: 1.5rem;
                height: 1.5rem;
            }

            .crmIcon {
                background: #fe8f2a;
                padding: 0.2rem;
            }
        }
    }

    &__media {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        list-style: none;
        padding: 4px 4px;
        margin: 20px 0 0 0;

        background: #a5a5e3;
        border: 1px solid #f0f0f0;
        border-radius: 13px;

        div{
            display: flex;
            margin: 0px ;
            padding: 12px 16px;
            background: #fefefe;
            border: 1px solid #f0f0f0;
            border-radius: 13px;
            img{
                display: flex;
                width: 100%;
            }
        }
    }



}